@charset "UTF-8";
/* CSS Document */

.background{
	background:url(Skyline-Los-Angeles-Night.jpg) no-repeat;
	background-size:cover;
	height:100%;
	width: 100%;
	min-height:700px;
	position:fixed;
}

.title{
	position:fixed;
	display:inline-block;
	float:left;
	font-size:40px;
	margin-top:150px;
	margin-left:100px;
	min-height:100px;
	min-width:200px;
	text-align:center;
	color:rgba(204,204,204,1);
	font-family:Tahoma, Geneva, sans-serif;
	text-align:justify;
	opacity:0.9;
}

div h2{
	font-style:italic;
}

.container{
	position:relative;
	display:inline-block;
	min-width: 650px;
	min-height: 400px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:rgba(102,102,102,1);
	background-color:rgba(255,255,255,1);
	border-radius:8px;
	float:right;
	margin-right:80px;
	margin-top:80px;
	opacity:0.6;
}



#question{
	margin-top: 40px;
	text-align:center;
}

.tracking{
	width:180px;
	position:relative;
	margin-left:80px;
	margin-top:40px;
}

#questionNumber{
}

#questionNumber p{
	display: inline-block;
}

#score{
	display:inline-block;
}

#score p{
	display:inline-block;
}

#answers {
	float:right;
	position:relative;
	margin-top:40px;
	text-align:justify;
	width:350px;
}

.radio{
}

#result{
	clear:both;
	font-weight:bold;	
	text-align:center;
	margin:50px;
	font-size:50px;
}

h3{
	color:rgba(0,153,51,1);
}

h4{
	color:rgba(255,0,0,1);
}

#next {
	clear: both;
	float: right;
	margin-right: 60px;
	width:55px;
	height:25px;
	border-radius:5px;
	text-align:center;
	padding-top:5px;
	cursor:pointer;
	background:rgba(49,49,49,1);
	color:rgba(201,201,201,1);
	font-size:16px;
	opacity: 0.9;
	
}





	