@charset "UTF-8";
/* CSS Document */

.background{
	background:url(Skyline-Los-Angeles-Night.jpg);
	height:100%;
	width: 100%;
	min-height:700px;
	position:fixed;
}

.title{
	position:fixed;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:50px;
	margin-top:80px;
	margin-left:80px;
	text-align:center;
	color:rgba(204,204,204,1);
	font-style: oblique;
}

div h2{
	font-size:36px;
	padding:10px;
}

.container{
	position:relative;
	min-width: 586px;
	min-height: 400px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:rgba(51,51,51,1);
	background-color:rgba(204,153,0,1);
	opacity:0.8;
	border-radius:8px;
	margin-right: 50px;
	margin-top: 50px;
	float:right;
}

#question{
	margin: 40px;
	text-align:center;
}

#answers {
	margin: 40px;
	text-align:justify;
}

#next {
	float:right;
	margin-right: 60px;
	width:55px;
	height:25px;
	border-radius:5px;
	text-align:center;
	padding-top:5px;
	cursor:pointer;
	background:rgba(49,49,49,1);
	color:rgba(201,201,201,1);
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	opacity: 0.9;
	
}


	