@charset "UTF-8";
/* CSS Document */

.background{
	background:url(Skyline-Los-Angeles-Night.jpg) no-repeat;
	background-size:cover;
	height:100%;
	width: 100%;
	min-height:700px;
	position:fixed;
}

.content{
	text-align:center;
	margin: 10%;
}

.title{
	position:relative;
	display:inline-block;
	float:left;
	font-size:40px;
	min-height:100px;
	min-width:200px;
	color:rgba(255,255,255,1);
	font-family: 'Josefin Sans', sans-serif;
	text-align:justify;
}

div h2{
	font-style:italic;
}

.container{
	position:relative;
	display:inline-block;
	min-width: 600px;
	min-height: 350px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:rgba(102,102,102,1);
	background-color:rgba(255,255,255,1);
	border-radius:8px;
	float:right;
	opacity:0.6;
	margin-top: -25px;
}



#question{
	margin-top: 40px;
}

.tracking{
	width:150px;
	position:relative;
	text-align:left;
	margin-left:50px;
	margin-top:40px;
	font-size:14px;
}

#questionNumber{
}

#questionNumber p{
	display: inline-block;
}

#score{
}

#score p{
	display:inline-block;
}

#answers {
	float:right;
	position:relative;
	margin-top:40px;
	text-align:justify;
	width:350px;
}

.radio{
}

#result{
	clear:both;
	font-weight:bold;	
	text-align:center;
	margin:50px;
	font-size:50px;
}

h3{
	color:rgba(0,153,51,1);
}

h4{
	color:rgba(255,0,0,1);
}

#next {
	clear: both;
	float: right;
	margin-right: 60px;
	width:55px;
	height:25px;
	border-radius:5px;
	text-align:center;
	padding-top:8px;
	cursor:pointer;
	background:rgba(49,49,49,1);
	color:rgba(201,201,201,1);
	font-size:16px;
	opacity: 0.9;
	
}





	